

body {
    color:black;
    font-family: "Helvetica", sans-serif;

}

h1 {
    font-family:monospace;
    font-size: 3rem;
    margin: 25px auto;
    margin-bottom: 50px;
    text align: center;
}

.center {
    margin: auto;
    background: ;
    width: 80%;
  }