*{
    box-sizing: border-box;
    background-color: black;
}

:root{
    --col01: rgb(0,0,0);
    --col02: rgb(106, 106, 106);
    --col03: rgb(180, 179, 179);
    --col04: rgb(255, 255, 255);
    --border: 1px solid var(--col01);
}


.container {  display: grid;
    grid-template-columns: 3.3fr 0.5fr 0.1fr 3.9fr;
    grid-template-rows: 2.6fr 3.8fr 0.6fr 0.9fr 0.3fr 0.4fr 0.1fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo logo logo"
      "empty empty empty empty"
      "bio bio bio bio"
      "event-name setlist setlist setlist"
      "event-name support support support"
      "sponsor support support support"
      ". . . ."
      "dialektik dialektik . date";
      height: 100vh;
    
  }
  
  /* The colour selection was based on the idea of the 90's ravecore aesthetic that I love to encapsulate.
  It's made a swift come back into web design and 'anti-design' fields that I'm interested in.
  I suppose this can be justified as 'matrix-core', and considering the initial image was a poster to an electronic music festival I think it fits suitably as a new rendition */

  .logo { grid-area: logo;
    border: var(--border);
    background-color: rgb(0, 0, 0);
    border-color: greenyellow; }
  
  /* The gradient was used as a contrast to fill the empty space, It's specifically meant to look unappealing. The intent of this colour variation was to illustrate that the empty space in the source material would be juxtaposed with my rendition - it being the sole focus of the page.
  This applies to the linear gradient on the would-be 'text' area, to illustrate that it is different to the above empty space, but still a point of focus. */
  .empty { grid-area: empty;
    background-image: radial-gradient( black, green); }
  
  .bio { grid-area: bio;;
    background-image: linear-gradient(green, black) 
}
  
  .support { grid-area: support;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-radius: 8px;
    border-color: greenyellow; }
  
  
  .setlist { grid-area: setlist;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-color: greenyellow; }
  
  .event-name { grid-area: event-name;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-color: greenyellow; }
  
  .sponsor { grid-area: sponsor;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-radius: 8px;
    border-color: greenyellow; }
  
  .dialektik { grid-area: dialektik;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-color: greenyellow; }
  
  .date { grid-area: date;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-radius: 8px;
    border-color: greenyellow; }

  